.form {
  width: 410px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 30px;
  margin-right: 25px;
  display: flex;
  align-items: flex-end;
}

.label input {
  margin-top: 10px;
  width: 180px;
  height: 20px;
  margin-left: 20px;
  border-radius: 4px;

}

.form button {
  padding: 5px 10px;
  margin: 0 auto;
  border-radius: 5px;

}

.nameForm {
  margin-right: 18px;
}